/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize";
 @import "https://fonts.googleapis.com/icon?family=Material+Icons";
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

html{
  box-sizing: border-box;
}
*{
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box;
}
.index-background{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-attachment: fixed;
  padding-bottom: 30px;
}
.location-index-background{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("https://images.pexels.com/photos/391522/pexels-photo-391522.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  padding-top: 50px;
  padding-bottom: 30px;
  background-attachment: fixed;
}
.home-wrapper{
  height: 100vh;
}
.index-input{
  text-align: center;
  font-size: 50px;
}
.nav{
  background-color:#607d8b  ;
}
.brand-logo{
  margin-left: 20px;
}
.submit-button{
  float: left;
}
.right td{
  padding: 0;
}
.right{
  margin-right: 20px;
}
.notice{
  text-align: center;
  background-color: #80cbc4 ;
}
.notice p{
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.cu-forecast, 
.td-forecast,
.wk-forecast{
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}
.main-text{
  padding-top: 10px;
  text-transform: uppercase;
}
.week-col{
  width: 12%;
  border: 1px solid black;
  float: left;
  margin-right: 0.25%;
  margin-left: 0.25%;
  text-align: center;
}
.cu-right{
  text-align: center;
}
.centered{
  margin-top: -50px;
  margin-bottom: 0;
}
.week-date{
  margin: 0;
  padding-top: 10px;
}
.cu-forecast h1,h3{
  margin: 0;
}
.cu-left{
  padding-left: 30px !important;
}
.cu-middle{
  border-left: 1px solid black;
  height: 100%;
  padding-left: 40px !important;
}
.sun{
  font-size: 30px;
  margin-right: 10px;
}
.info{
  font-size: 20px;
}
.wind{
  font-size: 20px;
}
.hourly{
  overflow-x: scroll;
  display: flex;
}
.hour{
  flex: 0 0 auto;
  flex-direction: column;
  width: 130px !important; 
  text-align: center;
  border-left: 1px solid black;
  margin-bottom: 10px;
}
.notice{
  background-color: #00D1B2;
  margin: 0;
  padding: 8px;
}
.alert{
  background-color: #FF3860;
  margin: 0;
  padding: 8px;
}
