<div class="location-index-background">
  <div class="container">
    <div class="row">
      <div class="cu-forecast">
          <%= render 'current' %>
      </div>
    </div>
    <div class="row">
      <div class="td-forecast">
        <%= render 'todays' %>
      </div>
    </div>
    <div class="row">
      <div class="wk-forecast">
        <%= render 'weekly' %>
      </div>
    </div>
  </div>
</div>